<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>网络教育平台.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8502191E1C37AC5D006040BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8502193A1C37AC5D006040BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>850219451C37AC5D006040BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
